body {
	font-family: "Lato", sans-serif;
	background: black;
}

h1 {
	color: white;
	font-size: 30px;
}

.intro {
	text-align: left;
	color: white;
	font-size: 14px;
	position: absolute;
	margin-top: 40px;
}	

.brass {
	width: 100px;
	height: 80px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidenav a {
  padding: 4px 4px 4px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn { 
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  margin-left: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.header {
  padding: 2px;
  text-align: center;
  background: #EB1C23;
  color: white;
  font-size: 30px;
}